html{
    width: 100%;
    max-width: 100%;
  
}
body {
    background: #366775;
    margin: 0px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 1;
}

#banner{    
    width: 100%;
    max-width: 100%;
    opacity: 8;
    padding-bottom: 2px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
}
input{
    width: 90%;
    height: 1.5vw;
}

#tp {
    background-color: white;
    padding-top: 1px;
}


.left {
    float: left;
    width: 50%;
    max-width: 50%;
    text-align: center;
    padding-bottom: 10px;
    color: #366775;
}

.right {
    width: 50%;
    max-width: 50%;
    float: right;
    text-align: center;
    padding-bottom: 10px;
}

.leftscore {
    float: left;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}

.rightscore {
    width: 50%;
    float: right;
    text-align: center;
    padding-bottom: 10px;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#aabcfe;
    width: 100%;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:1vw;
    padding-top: 2%;
    padding-bottom: 2%;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#669;
    background-color:#e8edff;
   
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:1vw;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:rgb(54, 103, 117);
    color:white;
    background-color: rgb(54, 103, 117);
}
.tg .tname{
    background-color:#ffffff;
    font-weight:bold;
    color:red;
    border-color:#000000;
    text-align: center;
    vertical-align:top
}

.tg .tnameright{
    background-color:#ffffff;
    font-weight:bold;
    color:blue;
    border-color:#000000;
    text-align: center;
    vertical-align:top
}

.tg .thead{
    font-weight:bold;
    background-color:#ffffff;
    color:#000000;
    border-color:#000000;
    text-align:center;
    vertical-align:top
}

.tg .tline{
    background-color:#ffffff;
    border-color:#000000;
    vertical-align:top
}

button {
    float: left;
}
tr{
    width: :5%;
}